---
import PageLayout from '../layouts/Page.astro'
import PostCard from '../components/PostCard.vue';
import { query, sortByDate, getPostCreatedYear } from '../utils/postsHelper'
import type { MarkdownInstance } from 'astro';

if (!Object.groupBy) {
  Object.groupBy = function (arr: any[], key: any) {
    return arr.reduce((acc, item) => {
      const group = key(item);
      if (!acc[group]) {
        acc[group] = [];
      }
      acc[group].push(item);
      return acc;
    }, {});
  };
}

const posts = Object.groupBy(
  Object.values(
    import.meta.glob('./posts/**/*.{md,mdx}', { eager: true })
  ).filter(query), 
  getPostCreatedYear
) as Record<string, MarkdownInstance<Frontmatter>[]> ;
---

<PageLayout>
  {Object.keys(posts).sort((a, b) => Number(b) - Number(a)).map(year => 
    <div class="year">
      <div class="year__title">{year}</div>
      <div>
        {posts[year].sort(sortByDate).map(post => 
          <PostCard
            title={post.frontmatter.title}
            path={post.url}
            summary={post.frontmatter.description}
            date={post.frontmatter.date}
            tags={post.frontmatter.tags}
          />
        )}
      </div>
    </div>
  )}
</PageLayout>


<style lang="less" scoped>
.year {
  margin-bottom: 2rem;
  &__title {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
</style>