---
import PageLayout from '../layouts/Page.astro'
import PostCard from '../components/PostCard.vue';
import { visibleFilter, sortByDate, getPostCreatedYear, date } from '../collections/posts'
import { getCollection } from 'astro:content';

if (!Object.groupBy) {
  Object.groupBy = function (arr: any[], key: any) {
    return arr.reduce((acc, item) => {
      const group = key(item);
      if (!acc[group]) {
        acc[group] = [];
      }
      acc[group].push(item);
      return acc;
    }, {});
  };
}

const _posts = await getCollection('posts')



const posts = Object.groupBy(_posts.filter(visibleFilter), getPostCreatedYear)
---

<PageLayout>
  {Object.keys(posts).sort((a, b) => Number(b) - Number(a)).map(year => 
    <div class="year">
      <div class="year__title">{year}</div>
      <div>
        {posts[year]?.sort(sortByDate).map(post => 
        <>
          <PostCard
            title={post.data.title}
            path={`/blog/${post.id}`}
            summary={post.data.description}
            date={date(post)}
            tags={post.data.tags}
          />
          </>
        )}
      </div>
    </div>
  )}
</PageLayout>


<style lang="less" scoped>
.year {
  margin-bottom: 2rem;
  &__title {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
</style>